.settings__wrapper {
  background-color: rgb(128, 128, 128, 0.1);
}

.settings__container {
  width: 70%;
  margin: 0 auto;

  .settings__header {
    display: flex;
    justify-content: space-between;

    .settings-done__button {
      width: 100px;
      height: 30px;
      border: none;
      border-radius: 4px;
      align-self: center;
      color: white;
      background-color: rgba(71, 114, 250);
    }
  }

  .settings-main__container {
    height: 85vh;
    overflow: auto;
    background-color: white;
    display: flex;

    .settings__options {
      width: 30%;
      border-right: 1px solid gray;
      height: 100%;
      text-align: left;
      .options__items {
        list-style: none;
        padding: 0;
        margin: 0;
        padding-top: 16px;

        .option__item {
          display: flex;
          line-height: 40px;
          font-size: 28px;
          width: 100%;
          margin-top: 10px;
          color: black;
          cursor: pointer;

          a {
            text-decoration: none;
            width: 100%;
            color: black;
          }

          &:hover {
            background: rgb(156, 156, 156, 0.3);
          }

          &:before {
            visibility: hidden;
            color: rgb(156, 156, 156, 0);
            content: 'i';
            height: 100%;
            background-color: rgba(71, 114, 250);
            margin-right: 20px;
            border-radius: 4px;
          }

          &.active {
            a {
              color: rgba(71, 114, 250);
            }
          }

          &.active::before {
            visibility: visible;
          }
        }
      }
    }

    .settings-option__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
      margin-bottom: 20px;
      width: 100%;
      gap: 20px;
      overflow: auto;
      .setting-pref {
        font-size: 1.2rem;
        width: 80%;
        display: flex;
        justify-content: space-between;

        select {
          width: 30%;
          height: 25px;
        }
      }

      .setting-appear {
        display: flex;
        width: 90%;
        gap: 50px;
        text-align: center;
        align-items: center;
        .theme {
          position: relative;
          display: flex;
          flex-direction: column;
          width: 60px;
          gap: 12px;

          .theme-light__square {
            height: 60px;
            background-color: white;
            border: 1px solid wheat;
            border-radius: 5%;
          }

          .theme-dark__square {
            height: 60px;
            background-color: black;
            border: 1px solid grey;
            border-radius: 5%;
          }
        }
        .sidebar-count {
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }

        .task-type {
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
        .uploadButton {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: rgba(71, 114, 250);
          width: 180px;
          height: 30px;
          color: white;
        }
        .uploadButton:active {
          transform: scale(0.98);
          box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
        }
        input {
          height: 0px;
          width: 0px;
        }
        .avatar {
          width: 190px;
          height: 250px;
          border: 4px solid rgb(77, 77, 77);
          border-radius: 15px;
        }
      }
      .setting-shortcuts {
        display: flex;
        flex-direction: column;
        width: 90%;
        gap: 20px;
        div {
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
}
.item-checked {
  position: absolute;
  align-self: flex-end;
  justify-self: flex-start;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  margin-right: -8px;
  margin-top: -8px;
  border: 3px solid rgba(var(--main-color));
  border-radius: 50%;
  background-color: white;
  visibility: hidden;
  img {
    width: 10px;
    height: 10px;
  }
}
.item-checked.active {
  visibility: visible;
}
