.timer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 30px;
  width: 60%;
}

.timer {
  position: relative;
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__progress {
    position: relative;
    width: 380px;
    height: 380px;
    border-radius: 50%;
    background-color: #e7f1b8bd;
  }

  &__time {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    gap: 10px;
    width: 360px;
    height: 360px;
    border-radius: 50%;
    background: white;
    font-size: 2.5em;
    text-transform: uppercase;
    z-index: 1;
  }
}

.timer__circle {
  display: flex;
  position: relative;
  width: 32px;
  height: 32px;
  background: white;
  border-radius: 50%;
  align-items: center;
  justify-content: center;

  canvas {
    visibility: visible;
  }

  &-inner {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background: rgb(var(--main-color));
    border-radius: 50%;
    div {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: white;
    }
  }
}

.start-stop__button,
.reset__button {
  visibility: hidden;
  font-size: 28px;
  background-color: rgb(var(--main-color));
  color: inherit;
  width: 180px;
  height: 40px;
}

.timer-add_window {
  width: 200px;
  height: fit-content;
  bottom: 80px;
  padding: 5px;
  position: absolute;
  display: none;
  flex-direction: column;
  gap: 10px;

  background-color: inherit;
  border: 1px solid black;
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
    input {
      width: 50%;
      height: 30px;
    }
    button {
      background-color: rgb(var(--main-color));
      width: 100px;
      height: 30px;
    }
  }
}
.timer-add_window.active {
  display: flex;
}

.time__button {
  visibility: hidden;
  border: none;
  background: white;
  color: rgb(var(--main-color));
  font-size: 24px;
}
.time__button.active {
  visibility: visible;
}

.start-stop__button.active,
.reset__button.active {
  visibility: visible;
}

.timer__window {
  display: flex;
}

.graph__wrapper {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.timer__history {
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  height: 400px;
  border-radius: 10px;
  background: rgba(11, 11, 11, 0.05);
}

.timer__result {
  height: 30px;
  width: 100%;
  text-align: center;
}

.timer__result:hover {
  background-color: rgba(11, 11, 11, 0.1);
}

.timer__graph {
  text-align: center;
}

:root.dark__mode {
  .graph__wrapper {
    border-left: 1px dotted white;
  }
}
