.container {
  display: grid;
  grid-template-columns: 250px 1fr 1fr;
  min-height: 100vh;
}

.lists {
  padding: 15px 10px;
  background-color: rgba(var(--main-color), 0.1);
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;

  &--main {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid rgba(var(--main-color), 0.4);
  }
}

.list__icon {
  width: 26px;
}

.list__button {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 10px;
  font-family: inherit;
  font-size: 18px;
  background-color: transparent;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;

  &--active {
    background-color: rgba(var(--main-color), 0.3);
  }
}

.tasks {
  padding: 20px 10px;
  border-left: 1px solid rgba(var(--main-color), 0.4);
  border-right: 1px solid rgba(var(--main-color), 0.4);
}

.tasks__title {
  margin-top: 0;
  margin-bottom: 15px;
}

.tasks__inputs {
  display: flex;
  gap: 10px;
}

.tasks__input {
  flex-grow: 1;
  box-sizing: border-box;
  padding: 8px;
  font-family: inherit;
  background-color: rgba(var(--main-color), 0.15);
  outline: 2px solid rgba(var(--main-color), 0.15);
  border: none;
  border-radius: 5px;
  transition: 0.2s;

  &:focus {
    outline: 2px solid rgb(var(--main-color));
    background-color: white;
  }
}

.tasks__date-input {
  padding: 7px;
  font-family: inherit;
  background-color: rgba(var(--main-color), 0.15);
  border: none;
  border-radius: 5px;
  outline: 2px solid rgba(var(--main-color), 0.15);

  &:focus {
    outline: 2px solid rgb(var(--main-color));
  }
}

.tasks__list {
  padding: 15px 0;
}

.task {
  padding: 10px 0;
  border-bottom: 1px solid rgba(var(--main-color), 0.15);
  transition: 0.2s;

  &:has(.task__input:checked) {
    opacity: 0.5;
  }
}

.task__main {
  display: flex;
}

.task__label {
  position: relative;
	display: flex;
  align-items: center;
  gap: 8px;
}

.task__input + .task__label::before {
	content: "";
  box-sizing: border-box;
  flex-shrink: 0;
	width: 20px;
	height: 20px;
	border: 1px solid rgb(var(--main-color));
	border-radius: 3px;
	box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.1);
}

.task__input:hover + .task__label {
	cursor: pointer;
}

.task__input:hover + .task__label::before {
	border: 1px solid rgba(var(--main-color), 0.6);
}

.task__input:focus + .task__label::before {
	outline: 2px solid #101010;
}

.task__input:checked + .task__label::before {
	background-color: rgb(var(--main-color));
}

.task__input:checked + .task__label::after {
	content: "";
	position: absolute;
	top: 4px;
	left: 3px;
	width: 14px;
	height: 12px;
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 15 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.17114 5.55227L5.6539 10.035L13.7229 1.96606' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	background-position: 0 0;
  background-size: contain;
}

.task__due-to {
  margin-left: auto;
  color: rgb(var(--main-color));
}

.task__description {
  display: -webkit-box;
  margin: 5px 0 0;
  padding-left: 28px;
  font-size: 12px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  opacity: 0.7;
}

.md {
  color: brown;
}

.md__style {
  font-weight: 500;
  margin: 10px;
}

pre {
  font-family: Verdana, Arial, sans-serif;
  white-space: pre-wrap;
  margin: 0;
}

.md__header1 {
  font-size: 32px;
}

.md__header2 {
  font-size: 24px;
}

.md__paragraph {
  min-width: 100%;
  min-height: 19.5px;
}

.empty::before{
  content: attr(data-before);
}