.matrix {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  background-color: rgba(var(--main-color), 0.1);
}

.quadrant {
  padding: 20px;
  border-radius: 8px;
  background-color: rgb(var(--white));

  &--high .quadrant__title {
    color: var(--high);
  }

  &--medium .quadrant__title {
    color: var(--medium);
  }

  &--low .quadrant__title {
    color: var(--low);
  }

  &--none .quadrant__title {
    color: var(--none);
  }
}

.quadrant__title {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 16px;
}